/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/******************
* Variables
******************/
/******************
* BASE
******************/
body {
  margin: 0;
  /*margin: 50px 100px;*/

}
/******************
* LAYOUTS
******************/
.l-grid {
  margin: 0 auto;
  padding: 0;
}
.l-grid > * {
  list-style-type: none;
  padding: 0;
  float: left;
  width: 100%;
  margin: 0;
}
/******************
* Modules
******************/
.socialitem-instagram > img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
.socialitem > .socialitem-publishdate {
  display: block;
  margin-top: 10px;
}
.socialitem::before {
  float: right;
}
/******************
* Theming
******************/
body {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
  text-align: left;
  word-wrap: break-word;
}
.heading {
  text-align: center;
  color: #ab5057;
}
.spinner {
  margin: 45%;
  width: 10%;
}
.socialitem {
  padding: 20px 0;
  text-align: center;
}
.socialitem:nth-child(4n+1) {
  color: #fff;
  background-image: url('../img/pink.png');
}
.socialitem:nth-child(4n+2) {
  background: #fff;
  color: #a9a9a9;
}
.socialitem:nth-child(4n+3) {
  background-image: url('../img/orange.png');
  color: #fff;
}
.socialitem:nth-child(4n+4) {
  background-image: url('../img/black.png');
  color: #a9a9a9;
}
.socialitem a {
  color: #ab5057;
}
.socialitem > .socialitem-publishdate {
  font-size: 14.285714285714286px;
  padding-left: 20px;
  text-align: left;
  text-transform: uppercase;
}
.socialitem-title {
  display: block;
  margin: 0;
  padding: 20px;
  font-size: 32px;
  text-align: left;
  line-height: 44px;
}
